html,
body {
    font-family: 'Menlo';
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
}

#thermitex {
    font-family: 'tf';
}

a {
    color: white;
}

.tools {
    margin: 0 0 0 10px;
    text-decoration: none;
    font-size: 10pt;
}

button {
    margin: 15px 0 0 0;
    font-size: 10pt;
    font-family: 'Menlo';
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

textarea {
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    font-size: 8pt;
    padding: 2px 5px;
    color: inherit;
    width: 100%;
    outline: none;
}

#mainblock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#options {
    margin-top: 15px;
    font-size: 8pt;
}

@font-face {
    font-family: 'tf';
    src: url("../../src/title_font.ttf");
}