html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'mainlt';
}

#main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#config {
    background-color: black;
    width: 33%;
    width: 400px;
    min-width: 400px;
    color: white;
}

#res {
    flex-grow: 2;
}

#config-container {
    margin: 50px;
    margin-bottom: 0;
    display: flex;
    height: calc(100% - 100px);
    flex-direction: column;
}

#logo {
    width: 150px;
}

.smaller-text {
    font-size: 9pt;
}

.reg-text {
    font-family: 'mainreg';
}

.config-element {
    margin-bottom: 20px;
    width: 100%;
}

input {
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    font-size: 11pt;
    font-family: inherit;
    padding: 2px 2px;
    color: inherit;
    outline: none;
}

#added-course-list {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    font-size: 10pt;
    color: inherit;
    flex-grow: 2;
    min-height: 10px;
}

#action-button {
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    height: 30px;
    font-family: 'mainreg';
}

#button-caption {
    margin: 5px;
}

#header {
    margin-bottom: 40px;
}

#cal-wrapper {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin: 20px;
    height: calc(100% - 80px);
    padding-bottom: 20px;
    padding: 10px;
}

#cal-content-wrapper {
    margin-top: 0;
    padding-top: 0;
    height: calc(100% - 20px);
}

tr.calendarHeader {
    height: 20px;
    vertical-align: bottom;
    text-align: center;
}

#cal-header {
    margin-left: 28px;
    border-bottom: 3px solid #ddd
}

tr.calendarHeader td {
    color: grey;
    font-family: 'mainreg';
    width: 1%;
    border-collapse: collapse;
}

#footer {
    margin-left: 20px;
    padding: 5px;
    width: inherit;
    text-align: center;
    bottom: 0;
    position: absolute;
    height: 20px;
    font-size: 9pt;
    color: grey;
}

#sem-selector li {
    list-style: none;
    padding: 0 10px;
    margin-right: 15px;
    float: left;
    font-size: 9pt;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-family: 'mainreg';
}

#sem1 {
    background-color: white;
    color: black;
}

#sem-selector {
/*    padding-left: calc(50% - 74px);*/
    padding: 0;
}

#sem-selector-caption {
    margin: 0;
}

table {
    font-size: 8pt;
}

.cal-Content td {
    margin: 0;
    padding: 0;
    width: 17%;
    height: 14px;
}

.timeDisplay {
    border-top:1px solid #ddd;
    color: grey;
    vertical-align: top;
    text-align: left;
}

.line {
    border-top:1px solid #ddd;
}

@font-face {
    font-family: 'tf';
    src: url("../../src/title_font.ttf");
}

@font-face {
    font-family: 'mainlt';
    src: url("fonts/Aleo-Light.otf");
}

@font-face {
    font-family: 'mainreg';
    src: url("fonts/Aleo-Regular.otf");
}